body {
    margin: 0;
    background: #f3f3f3;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 20%;
    padding: 15px;
}

.card {
    height: 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    background: #fff;
}

.loader-1 {
    width: 50px;
    height: 50px;
    border: 5px solid #9C27B0;
    border-radius: 50%;
    border-top: 5px solid transparent;
    animation: rotate360 1s infinite forwards linear;
}

.loader-2 {
    width: 50px;
    height: 50px;
    border-top: 25px solid #9C27B0;
    border-bottom: 25px solid #9C27B0;
    border-right: 25px solid rgba(255, 0, 0, 0);
    border-left: 25px solid rgba(255, 0, 0, 0);
    border-radius: 50%;
    animation: rotate360 1s infinite forwards linear;
}

.loader-3 {
    width: 35px;
    height: 35px;
    background: #9C27B0;
    border-radius: 50%;
    position: relative;
    animation: rotate360 0.6s infinite forwards linear;
}

.loader-3>span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: rgba(156, 39, 176, 0);
    position: absolute;
    border-radius: 50%;
    border: 10px solid #9c27b0;
}

.loader-3>span:nth-of-type(1) {
    top: -20px;
    left: calc(50% - 10px);
}

.loader-3>span:nth-of-type(2) {
    top: 50%;
    right: -20px;
}

.loader-3>span:nth-of-type(3) {
    top: 50%;
    left: -20px;
}

.loader-3:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    top: calc(50% - 3px);
    left: calc(50% - 3px);
}

.loader-4:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solid red;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.loader-4 {
    border: 5px solid blue;
    background: transparent;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    animation: rotate360 0.6s infinite forwards linear;
}

.loader-5:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solid red;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}

.loader-5:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solid red;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
}

.loader-5 {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    animation: rotate360 0.6s infinite forwards linear;
}

.loader-6 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top: 7px solid #f44336;
    border-right: 7px solid #f44336;
    border-bottom: 7px solid transparent;
    animation: rotate360 0.6s infinite forwards linear;
    position: relative;
}

.loader-6:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #f44336;
    right: 3px;
    bottom: 5px;
    border-radius: 50%;
}

.loader-7:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solid red;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    border-bottom: 5px solid transparent;
}

.loader-7:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solid red;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    border-top: 5px solid transparent;
}

.loader-7 {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    animation: rotate360 0.6s infinite forwards linear;
}

.loader-8 {
    position: relative;
    height: 50px;
    width: 50px;
}

.loader-8 span {
    display: inline-block;
    width: 10px;
    height: 50%;
    position: absolute;
    bottom: 0;
}

.loader-8 span:nth-of-type(1) {
    left: 5px;
    background: red;
    animation: heightChange 0.5s 0.2s infinite alternate;
}

.loader-8 span:nth-of-type(2) {
    left: 20px;
    background: blue;
    animation: heightChange 0.5s 0.4s infinite alternate;
}

.loader-8 span:nth-of-type(3) {
    left: 35px;
    background: green;
    animation: heightChange 0.5s 0.5s infinite alternate;
}

.loader-9 {
    width: 75px;
    height: 75px;
    position: relative;
}

.loader-9::before {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    border: 5px solid red;
    border-radius: 50%;
    left: 15px;
    top: 15px;
    content: "";
    border-top: none;
    border-right: 5px solid transparent;
    animation: rotate360 0.6s infinite forwards linear;
}

.loader-9:after {
    width: calc(100%);
    border: 5px solid blue;
    height: calc(100%);
    border-left: 5px solid transparent;
    border-bottom: none;
    border-radius: 50%;
    position: absolute;
    content: "";
    animation: reverseRotate 0.6s infinite forwards linear;
}

.loader-10 {
    width: 50px;
    height: 50px;
    position: relative;
}

.loader-10:after {
    width: 25px;
    height: 25px;
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 25px);
    background: red;
    border-radius: 50%;
    /* transform: translateX(10%); */
    animation: loader10-2 1s infinite forwards linear;
}

.loader-10:before {
    width: 25px;
    height: 25px;
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    background: blue;
    border-radius: 50%;
    /* transform: translateX(-10%); */
    animation: loader10-1 1s infinite forwards linear;
}

.loader-11 {
    position: relative;
    width: 50px;
    height: 50px;
}

.loader-11>div {
    position: absolute;
    border: 5px solid #9c27b0;
    border-color: #9C27B0 transparent transparent transparent;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: rotate360 1.4s infinite;
}

.loader-11>div:nth-of-type(1) {
    animation-delay: -0.45s;
}

.loader-11>div:nth-of-type(2) {
    animation-delay: -0.3s;
}

.loader-11>div:nth-of-type(3) {
    animation-delay: -0.15s;
}

.loader-12 {
    width: 50px;
    height: 50px;
    position: relative;
    border: 7px solid green;
    border-radius: 10%;
    animation: loader12 1s infinite forwards linear;
}

.loader-13 {
    width: 50px;
    height: 50px;
    position: relative;
}

.loader-13>div {
    position: absolute;
    width: 6px;
    height: 75%;
    top: 12.5%;
    left: 0;
    border-radius: 5px;
    background: red;
    animation: topBottom 0.6s infinite forwards linear;
}

.loader-13>div:nth-of-type(2) {
    animation: bottomTop 0.6s infinite forwards linear;
}

.loader-15>div {
    display: inline-block;
    border-radius: 5px;
    height: 5px;
    width: 30px;
    background: red;
    animation: loader15 2s infinite;
    position: relative;
}

.loader-15>div:nth-of-type(2) {
    animation-delay: -1.5s;
    background: blue;
}

.loader-15>div:nth-of-type(3) {
    animation-delay: -1s;
    background: green;
}

@keyframes loader15 {
    0%,
    100% {
        width: 30px;
    }
    50% {
        width: 45px;
    }
}

@keyframes bottomTop {
    0% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(-7px)
    }
    50% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(7px)
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes topBottom {
    0% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(7px)
    }
    50% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(-7px)
    }
    100% {
        transform: translateY(0px)
    }
}

.loader-13>div:nth-of-type(2) {
    right: 0;
    left: initial;
}

.loader-13:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    top: calc(50% - 5px);
    animation: leftRight 0.6s infinite forwards linear;
}

.loader-14 {
    width: 75px;
    height: 75px;
    position: relative;
    animation: rotate360 1s infinite forwards linear;
}

.loader-14>div {
    /* position: absolute; */
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
    animation: scale14 2s infinite;
    top: 0;
}

.loader-14>div:nth-of-type(2) {
    animation-delay: -1.0s;
    background: blue;
}

@keyframes scale14 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px)
    }
}

@keyframes loader12 {
    0% {
        border-radius: 10%;
        transform: rotate(0deg)
    }
    75% {
        border-radius: 50%;
        transform: rotate(360deg)
    }
    100% {
        border-radius: 50%;
        transform: rotate(360deg)
    }
}

@keyframes loader10-1 {
    0% {
        transform: translateX(-90%);
    }
    25% {
        transform: translateX(70%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(-70%) scale(0.5);
        z-index: 2;
    }
    100% {
        transform: translateX(-90%)
    }
}

@keyframes loader10-2 {
    0% {
        transform: translateX(90%);
    }
    25% {
        transform: translateX(-70%) scale(0.5);
        z-index: 3;
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(70%);
    }
    100% {
        transform: translateX(90%);
    }
}

@keyframes heightChange {
    0% {
        height: 50%;
    }
    100% {
        height: 100%;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverseRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}